*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
*::selection{
    background: #00620d
;
    color: #ffff;
}
.header {
    background-color: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -1px 7px 10px 1px rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header__container-logo{
    width:25px;
}
.header__nav, .header__container-usuarios {
    display: none;
    
}
.header__container-usuario-mobile{
    color: #ffff;
    font-size: 25px;
    width: 30px;
}
.main__container-logo{
    display: none;
}
.main{
    padding: 15px 15px 60px;
    margin-top: 80px;
}
.main__container-description-title{
    font-size: 50px;
    line-height: 1.2;
}
.main__container-description-title span{
    color:#006241;
}
.main__description{
    font-weight: bolder;
    margin-top: 20px;
}
.main__container-description{
    display: flex;
    flex-direction: column;
}
.gallery{
    background: #006241;
    padding: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.gallery__img{
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact{
    background-color: #171817;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__title{
    color: #006241;
    text-align: center;
    padding-bottom: 15px;
    font: size 35px;
}
.contact__form{
    background-color: #006241;
    padding: 15px;
    color: #ffff;
    width: 280px;

}
.contact__form-input label{
    font-size: 14px;
}
.contact__form-input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}
.contact__form-input input::placeholder , 
.contact__form-input textarea::placeholder{
    font-size: 14px;
    color: #006241;
    font-weight: bolder;

}
.contact__form-input input,
.contact__form-input  textarea{
    padding: 5px;
    border-radius: 7.5px;
    border: 0;
}
.contact__form-input input:focus,
.contact__form-input  textarea:focus{
    background-color: #171817;    
}
.contact__button{
    background: inherit;
    border: 1px solid #ffff;
    color: #ffff;
    width: 50%;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
    transition: all 0.5s;
}
.contact__button:hover {
    background: yellow;
    border:1px solid yellow;
}
.cards__card{
    background-color: #006241;
    margin-top: 15px;
    position: relative;
    width: 85%;

}
.cards{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffff;
}
.cards__card-img{
    width: 100%;
}
.cards__card-title span{
    color: yellow;
}
.cards__card-description{
    font-size: 15px;
    margin: 8px 5px;
}
.cards__card-btn{
    background: inherit;
    border: 1px solid #ffff;
    color: #ffff;
    width: 50%;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px 5px;
    transition: all 0.5s;
    text-decoration: none;
    margin-bottom: 15px;
}
.cards__card-btn:hover {
    background: yellow;
    border:1px solid yellow;
}
.cards__card-container-text{
    padding: 0px 5px;
}
.cards__card-container-btn{
    display: flex;
    flex-direction: column;
}
.cards__card-container-btn a{
    width: 100%;
    margin: 7.5px 0px 5px;
    text-align: center;
}
.cards__card-circle{
    background-color: yellow;
    width: 65px;
    height: 65px;
    color: #171817;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -25px;
}
.footer{
    background-color: #000000;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.footer__container-login{
    display: flex;
    flex-direction: column;
    font-size: 18px;

}
.footer__container-link-user{
    text-decoration: none;
    color: #006241;
    margin-bottom: 10px;
    font-weight: bolder;

}
.footer__container-contact a{
    color: #019415;
    text-decoration: none;
}
.footer__container-contact{
    margin: 15px 0px;
    font-weight: bolder;
}
.footer__container-link-mobile{
    color: #006241;
    font-size: 20px;

}
.footer__container-link-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;
}
.footer__container-link-social{
    display: none;
}
@media (min-width: 768px){
    .header__container-usuario-mobile{
        display: none;
    }
    .header__container-usuarios{
        display: block;
        color: #ffff;
        width: 25%;
        font-size: 40px;
        padding-right: 15px;
        display: flex;
        justify-content: end;

    }
    .header__nav {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
    }
    .header__container-logo{
        width: 25%;
    }
    .header__nav-link{
        text-decoration: none;
        color: #ffff;
        padding: 0px 10px;
    }
    .main__container-logo-img{
        width: 80%;
    }
    .main__container-logo{
        display: block;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 15px 30px 50px;
    }
    .main__container-description{
        width: 50%;
    }
    .gallery{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        align-items: center;
        padding: 15px;

    }
    .gallery__img{
        margin: 5px;
        width: 30%;
    }
    .contact__form{
        width: 400px;
    }
    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }
    .cards__card{
        width: 40%;
    }
    .footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


}
@media (min-width:1024px){
    .header__container-logo{
        width: 80px;
    }
    .header__container-usuarios{
        font-size: 70px;
        width: 80px;
    }
    .main__container-logo{
        width: 450px;
        
    }
    .gallery__img{
        width: 350px;

    }
    .gallery{
        justify-content: center;
        
    }
    .contact__form{
        width: 500px;
    }
    .contact__form-input,
    .contact__button{
        font-size: 20px;
    }

}